.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}
.row_poster:hover {
  transition: transform 450ms;
  transform: scale(1.08);
}
.movieContainer {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.movieContainer::-webkit-scrollbar {
  display: none;
}
.biggerRow {
  max-height: 250px;
}
.biggerRow:hover {
  transition: transform 450ms;
  transform: scale(1.09);
}
.row {
  color: white;
  margin-left: 20px;
}
h1 {
  margin: 0;
  font-size: 1.3rem;
}
